<section class="sectionOne">
    <H2>MeS ConTacTs</H2>

    <form method="GET" action="\assets\fichier\cv.pdf" target="_blank" class="btnPro">
        <label for="btnCv" class="btnCv">mon cv est disponible içi</label>
        <button type="submit" class="btnCvOne">Mon cv</button>
    </form>

    <div class="mail">
        <a href="mailto:fethibettahar@hotmail.fr">Me ConTacTer SuR MoN MaiL<br />cliquer ici
      <img
        src="\assets\img\icon\google_mail.svg"
        alt="icon représenter un logos d'email"
      />
    </a>
    </div>

    <div class="cardContact">
        <div class="tel">
            <p>
                <a>
                    <img src="\assets\img\icon\Phone.svg" alt="" /> tel : 06 42 28 44 32
                </a>
            </p>
        </div>
        <div class="linkedin">
            <p>
                <a href="https://www.linkedin.com/in/fethi-bettahar-32b0a2207/" target="blank">
                    <img src="\assets\img\icon\linkedin.svg" alt="" />linkedinn
                </a>
            </p>
        </div>
        <div class="github">
            <p>
                <a href="https://github.com/fethi-coder" target="blank"><img src="\assets\img\icon\github.svg" alt="" />github</a>
            </p>
        </div>
    </div>
</section>