<section class="sectionOne" appEffectclose>

    <div id="PARCOURS_professionnel">
        <div class="parcours">
            <h2 class="titleMotive">PARCOURS PROFESSIONNEL</h2>
        </div>
        <div class="capsuleOne" appEffect data-title="cliquer pour agrandir">
            <h2>Conducteur receveur, 02/2008 - 11/2020</h2>
            <h3> Keolis Lyon - Lyon, 69</h3>
            <ul class="expOne">
                <li> Accueil courtois des voyageurs montant à bord du véhicule, réponse à leurs demandes de renseignements sur les arrêts et les temps de trajet et déploiement de la rampe d'accès pour les personnes en fauteuil roulant.
                </li>
                <li>
                    Offre d'un niveau de service exceptionnel à chaque client en répondant aux inquiétudes et en apportant des réponses.
                </li>
                <li>
                    Gestion avec calme et sang-froid de tout accident de circulation impliquant mon véhicule en veillant avant tout à la sécurité de mes passagers puis en remplissant le rapport d'incident pour le service contentieux de la société.
                </li>
            </ul>
        </div>
        <div class="capsuleTwo" appEffect data-title="cliquer pour agrandir">
            <h2>interimaire, 02/2006 - 02/2008</h2>
            <h3>Leroy merlin , adidas , casa , Auchan - Lyon, 69</h3>
            <ul class="expTwo">
                <li>Transport des matériaux vers les zones appropriées et consignation des changements relatifs au stock.
                </li>
                <li>
                    Suivi des mouvements grâce à des scanners portatifs et utilisation de feuilles de production quotidiennes pour garantir l'exactitude des données.
                </li>
                <li>
                    Examen et résolution des différences entre les informations comptables et le tiroir-caisse.
                </li>
                <li>
                    Informations apportées aux clients sur les promotions pour favoriser les ventes.
                </li>
                <li>
                    Vérification des prix pour les clients et traitement des articles vendus en scannant les codes-barres.
                </li>
                <li>
                    Rapprochement du tiroir-caisse au début et à la fin de chaque service, en tenant compte des erreurs et en résolvant les écarts.
                </li>
                <li>
                    Traitement des transactions aux points de vente, notamment les achats ou les remboursements par chèque, en espèces et par carte bancaire.
                </li>
                <li>
                    Maintien de l'ordre et de la propreté des espaces clients grâce aux listes de vérification des lieux quotidiennes.
                </li>
            </ul>
        </div>
        <div class="capsuleThree" appEffect data-title="cliquer pour agrandir">
            <h2>Vendeur responsable, 12/2002 - 02/2006</h2>
            <h3>Cinebank - Lyon, 69</h3>
            <ul class="expThree">
                <li> A recherché et mis à jour l'ensemble des matériaux nécessaires à l'entreprise et aux partenaires.
                </li>
                <li>
                    Supervision de nombreuses bases de données pour suivre l'intégralité de l'inventaire de l'entreprise.
                </li>
                <li>
                    A mis en œuvre des stratégies marketing qui ont permis une croissance de 12 % de la base clientèle.
                </li>
            </ul>
        </div>
    </div>
</section>


<section class="sectionTwo">
    <div id="FORMATION">
        <h2>FORMATION</h2>
    </div>
    <div class="blocFormation">
        <div class="formation" appEffect data-title="Cliquer pour agrandir">
            <p>BEP : vente action marchande,<br>07/2003</p>
            <p>Greta Ampère - Bron, 69500</p>
        </div>
        <div class="formation" appEffect data-title="Cliquer pour agrandir">
            <p>CAP : Vente multispécialité,<br>07/2002</p>
            <p>Greta Ampère - Bron, 69500</p>
        </div>
        <div class="formation" appEffect data-title="Cliquer pour agrandir">
            <p>Titre professionnel : Agent du transport routier interurbain de voyageurs, 05/2008</p>
            <p>Keolis formation - Bron, 69500</p>
        </div>
        <div class="formation" appEffect data-title="Cliquer pour agrandir">
            <p>Titre professionnel : Agent commercial et de conduite du transport routier urbain de voyageurs, 02/2009</p>
            <p>Keolis formation - Bron 69500</p>
        </div>
        <div class="formation" appEffect data-title="Cliquer pour agrandir">
            <p>Titre professionnel : Développpeur Web, Web mobile</p>
            <p>Wild Code School - Lyon 69002 Mars 2021</p>
            <p>en cours</p>
        </div>
    </div>
</section>