nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    transition: all 0.5s;
    background: rgb(63, 63, 63);
}

img {
    height: 40%;
}

nav:hover {
    height: 150px;
}

.liste {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9%;
    height: 100%;
    width: 100%;
    list-style: none;
    align-items: center;
    justify-content: center;
}

a {
    width: 100%;
    height: 30px;
    margin: 0;
    display: flex;
    color: rgb(204, 204, 204);
    font-family: "Playfair Display SC", serif;
    list-style: none;
    text-decoration: none;
    text-align: center;
    font-size: 170%;
    font-weight: bolder;
    visibility: visible;
    line-height: 14px;
}

button {
    position: absolute;
    z-index: 15;
    right: 4%;
    margin-top: 16%;
    background: transparent;
    border-radius: 5px;
    border: solid #706d48;
}

.burger {
    height: 33px;
    width: 42px;
    display: flex;
    gap: 10%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 1s;
}

.traitOne {
    height: 3px;
    width: 80%;
    background: #706d48;
    transition: all 1s;
}

.traitTwo {
    height: 3px;
    width: 80%;
    background: #706d48;
}

.traitThree {
    height: 3px;
    width: 80%;
    background: #706d48;
}

@media (max-width: 900px) {
    ul {
        width: 95%;
        height: 400px;
        margin-top: 20px;
    }
    nav {
        display: flex;
        flex-direction: column;
    }
    .liste {
        display: flex;
        flex-direction: column;
    }
    img {
        height: 25%;
    }
}