<section id="footer">
    <div class="cardContact">
        <div class="mail" title="mail">
            <p>
                <a href="mailto:fethibattahar@hotmail.fr">
                    <img src="\assets\img\icon\google_mail.svg" alt="telephone 0642284432">mail
                </a>
            </p>
        </div>
        <div class="linkedin">
            <p>
                <a href="https://www.linkedin.com/in/fethi-bettahar-32b0a2207/" target="blank">
                    <img src="\assets\img\icon\linkedin.svg" alt="logo du site linkedin"> linkedinn
                </a>
            </p>
        </div>
        <div class="github">
            <p>
                <a href="https://github.com/fethi-coder" target="blank">
                    <img src="\assets\img\icon\github.svg" alt="logo du sie github"> github
                </a>
            </p>
        </div>
    </div>
    <p class="copyright"><a href="/contact">Bettahar Fethi</a></p>

</section>